@use "@angular/material" as mat;
@include mat.core();

@import "variables";
@import "layouts/transitions";
@import "helpers/color";
@import "helpers/icon-size";

//Theme colors

@import "themecolors/default_theme";
@include mat.all-component-themes($bluetheme);

//container layout
@import "overrides/materialoverrides";
@import "container";
@import "layouts/layouts";
@import "grid/grid";
@import "helpers/custom-flex";
@import "helpers/index";


// pages
@import "pages/dashboards";
@import "pages/auth";


mat-form-field {
    width: 100% !important;
    max-width: 100% !important;
}

.mat-subtitle-1,
.mat-body-1 {
    padding: 0px 10px !important;
    line-height: 20px !important;
}

.paginator-container {
    overflow-x: auto;
    white-space: nowrap;
}

// .pageWrapper{
//     padding-bottom: 0px !important;
// }

// add border to table
.mat-table {
    border-collapse: collapse;
}

.mdc-data-table__cell,
.mdc-data-table__header-cell {
    border: 1px solid #f1f1f1 !important;
}