<h1 mat-dialog-title>{{ isEditMode ? 'Edit' : 'Add' }} LeadGen Form</h1>
<div mat-dialog-content class="container">
    <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Name Of LeadGen Form*</mat-label>
    <mat-form-field appearance="outline" class="w-100" color="primary">
        <input matInput name="fname" [(ngModel)]="formData.name" class="form-control form-control-lg input-square"
            type="text" placeholder="Name Of Form">
    </mat-form-field>

    <!-- <mat-form-field class="mb-2" appearance="outline">
        <mat-label>Page*</mat-label>
        <mat-select [(ngModel)]="formData.Page" (selectionChange)="onPageChange()">
            <mat-option *ngFor="let page of pages" [value]="page">
                {{ page.name }}
            </mat-option>
        </mat-select>
        <ng-select [items]="pages" bindLabel="name" placeholder="Select an option" [(ngModel)]="formData.Page"
            [searchable]="true" [clearable]="true" (change)="onPageChange()">
        </ng-select>
        <mat-hint *ngIf="pages.length">Select a page</mat-hint>
        <mat-hint class="error" *ngIf="!pages.length">No Page Found</mat-hint>
    </mat-form-field> -->

    <div class="campaign-dropdown">
        <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Buildesk Project</mat-label>
        <ng-select appendTo="body" [virtualScroll]="true" [items]="projects" bindValue="Id" bindLabel="ProjectName"
            placeholder="Select an option" [searchable]="true" [clearable]="true" [(ngModel)]="formData.projectId">
        </ng-select>
    </div>
    <div class="campaign-dropdown">
        <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Buildesk Campaign</mat-label>
        <ng-select appendTo="body" [virtualScroll]="true" [items]="campaigns" bindValue="Id" bindLabel="Name"
            placeholder="Select an option" [searchable]="true" [clearable]="true" [(ngModel)]="formData.campaignId">
        </ng-select>
    </div>
    <div class="campaign-dropdown">
        <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Buildesk User</mat-label>
        <ng-select appendTo="body" [virtualScroll]="true" [items]="users" bindValue="Id" bindLabel="Name"
            placeholder="Select an option" [searchable]="true" [clearable]="true" [(ngModel)]="formData.userId">
        </ng-select>
    </div>
    <div class="campaign-dropdown">
        <mat-label class="mat-subtitle-2 f-s-14 f-w-600 d-block">
            <div><span>Pages</span></div>
            <div>
                <span (click)="reloadPages()" [title]="'Fetch Data'">
                    <mat-icon matListItemIcon>replay</mat-icon>
                </span>
            </div>
        </mat-label>
        <ng-select appendTo="body" [virtualScroll]="true" [items]="pages" bindLabel="Name"
            placeholder="Select an option" [(ngModel)]="formData.Page" [searchable]="true" [clearable]="true"
            (change)="onPageChange()">
        </ng-select>
        <mat-hint *ngIf="pages?.length">Select a page</mat-hint>
        <mat-hint class="error" *ngIf="!pages?.length">No Page Found</mat-hint>
    </div>

    <!-- <mat-form-field class="mb-2" appearance="outline">
        <mat-label>LeadGen Form*</mat-label>
        <mat-select [(ngModel)]="formData.Form" (selectionChange)="onFormChange()">
            <mat-option *ngFor="let form of forms" [value]="form">
                {{ form.name }}
            </mat-option>
        </mat-select>
        <mat-hint *ngIf="forms.length">Select Lead form associated to the page</mat-hint>
        <mat-hint class="error" *ngIf="!forms.length">No Form Found</mat-hint>
    </mat-form-field> -->
    <div class="campaign-dropdown">
        <mat-label class="mat-subtitle-2 f-s-14 f-w-600 d-block">
            <div><span>Forms</span></div>
            <div>
                <span (click)="reloadForms()" [title]="'Fetch Data'" *ngIf="!!formData?.Page">
                    <mat-icon matListItemIcon>replay</mat-icon>
                </span>
            </div>
        </mat-label>
        <ng-select appendTo="body" [virtualScroll]="true" [items]="forms" bindLabel="Name"
            placeholder="Select an option" [(ngModel)]="formData.Form" [searchable]="true" [clearable]="true"
            (change)="onFormChange()">
        </ng-select>
        <mat-hint *ngIf="forms?.length">Select Lead form associated to the page</mat-hint>
        <mat-hint class="error" *ngIf="!forms?.length">No Form Found</mat-hint>
    </div>

    <ng-container *ngIf="formData.Form && formData.Form.Id">
        <mat-label>
            <h4 class="divider">Fields Mapping</h4>
        </mat-label>
        <div class="row" style="margin-bottom: 1rem;">
            <div class="col-6">Required Fields</div>
            <div class="col-6">Mapping Fields</div>
        </div>
        <div class="row" *ngFor="let field of formData.questions">
            <div class="col-6 field">
                <span>{{field.CRMLabel}}
                    <span *ngIf="field.IsRequired">*</span>
                </span>
            </div>
            <div class="col-6">
                <!-- <mat-form-field appearance="outline">
                    <mat-label>Key</mat-label>
                    <mat-select (selectionChange)="onFieldSelected($event,field)">
                        <mat-option *ngFor="let question of questions" [value]="question">
                            {{ question.key }}
                        </mat-option>
                    </mat-select>
                </mat-form-field> -->
                <div class="campaign-dropdown">
                    <ng-select appendTo="body" [virtualScroll]="true" [items]="questions" bindLabel="label"
                        placeholder="Select an option" [searchable]="true" [clearable]="true"
                        (change)="onFieldSelected($event,field)" [(ngModel)]="field.FBLabel">
                    </ng-select>
                </div>
            </div>
        </div>
    </ng-container>
</div>
<div mat-dialog-actions style="float: right;">
    <button mat-button class="btn btn-secondary" (click)="onCancel()">Cancel</button>
    <button mat-button class="btn btn-primary" (click)="onSave()">Save</button>
</div>