<div class="row">
  <div class="col-12">
    <mat-card class="cardWithShadow">
      <mat-card-content class="p-24">
        <mat-card-title>
          Leads &nbsp; {{formData.Name ? ' from &nbsp; '+ (formData.Name | titlecase) : ''}}

          <button mat-icon-button style="float: right;" (click)="getPagesOfForm()" matTooltip="Refresh Lead Data">
            <mat-icon matListItemIcon>refresh</mat-icon>
          </button>
        </mat-card-title>
        <div class="table-responsive m-t-16 table-container">
          <table mat-table [dataSource]="leads" class="mat-table w-100">
            <ng-container matColumnDef="position">
              <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14"> # </th>
              <td mat-cell *matCellDef="let element" class="mat-body-1"> {{element.index }} </td>
            </ng-container>

            <ng-container matColumnDef="CreatedDate">
              <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14"> Created Date </th>
              <td mat-cell *matCellDef="let element" class="mat-body-1"> {{ element.CreatedDate | date :"medium" }}
              </td>
            </ng-container>

            <ng-container matColumnDef="PageName">
              <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14"> Page Name </th>
              <td mat-cell *matCellDef="let element" class="mat-body-1"> {{ element.PageName }} </td>
            </ng-container>

            <ng-container matColumnDef="FormName">
              <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14"> Form Name </th>
              <td mat-cell *matCellDef="let element" class="mat-body-1"> {{ element.FormName }} </td>
            </ng-container>

            <ng-container matColumnDef="CompanyMetaFormName">
              <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14"> Meta Form Name </th>
              <td mat-cell *matCellDef="let element" class="mat-body-1"> {{ element.CompanyMetaFormName }} </td>
            </ng-container>

            <ng-container matColumnDef="LeadId">
              <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14"> Lead ID </th>
              <td mat-cell *matCellDef="let element" class="mat-body-1"> {{ element.LeadId }} </td>
            </ng-container>

            <ng-container matColumnDef="LeadNumber">
              <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14"> Lead Number </th>
              <td mat-cell *matCellDef="let element" class="mat-body-1"> {{ element.LeadNumber }} </td>
            </ng-container>

            <ng-container matColumnDef="ClientName">
              <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14"> Client Name </th>
              <td mat-cell *matCellDef="let element" class="mat-body-1"> {{ element.ClientName }} </td>
            </ng-container>

            <ng-container matColumnDef="ClientContact">
              <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14"> Client Contact </th>
              <td mat-cell *matCellDef="let element" class="mat-body-1"> {{ element.ClientContact }} </td>
            </ng-container>

            <ng-container matColumnDef="ClientEmail">
              <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14"> Client Email </th>
              <td mat-cell *matCellDef="let element" class="mat-body-1"> {{ element.ClientEmail }} </td>
            </ng-container>

            <ng-container matColumnDef="Success">
              <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14"> Status </th>
              <td mat-cell *matCellDef="let element" class="mat-body-1">
                <div class="cell-container">
                  <mat-chip color="accent" class="badge-success" *ngIf="!!element.Success">Success</mat-chip>
                  <mat-chip color="primary" class="badge-danger" *ngIf="!element.Success">Failed</mat-chip>
                  <button *ngIf="!element.Success" mat-icon-button (click)="regenerateLead(element.Id)"
                    matTooltip="Regenerate Lead">
                    <mat-icon matListItemIcon>refresh</mat-icon>
                  </button>
                </div>
              </td>
            </ng-container>

            <ng-container matColumnDef="IsReturned">
              <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14"> Returned </th>
              <td mat-cell *matCellDef="let element" class="mat-body-1"> {{ element.IsReturned ? "Yes" : "No" }} </td>
            </ng-container>

            <ng-container matColumnDef="Response">
              <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14"> Response </th>
              <td mat-cell *matCellDef="let element" class="mat-body-1 raw-content-cell"
                [title]="element.Response || ''">
                {{ element.Response }}
              </td>
            </ng-container>

            <ng-container matColumnDef="Details">
              <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14"> Details </th>
              <td mat-cell *matCellDef="let element" class="mat-body-1">
                <button mat-icon-button (click)="viewDetails(element)">
                  <mat-icon>visibility</mat-icon>
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>

        <div *ngIf="leads.length === 0" class="text-center">No records found</div>
        <div class="paginator-container" *ngIf="leads.length > 0">
          <mat-paginator [length]="totalRecords" [pageSize]="pageSize" [pageSizeOptions]="[10, 20, 50, 100, 500, 1000]"
            (page)="onPageChange($event)">
          </mat-paginator>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>