.raw-content-cell {
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
}

// .table-container {
//     height: calc(100vh - 302px) !important;
//     overflow-y: auto !important;
//     overflow-x: auto !important;
//     scrollbar-width: thin;
// }

// .table-container table {
//     width: 100% !important;
// }

// mat-paginator {
//     position: sticky !important;
//     bottom: 0 !important;
//     background: white !important;
//     z-index: 100 !important;
// }

.badge-danger {
    background-color: #dc3545 !important;
    color: white !important;

    ::ng-deep .mat-mdc-chip-action-label {
        color: white !important;
    }
}

.badge-success {
    background-color: #28a745 !important;
    color: white !important;


    ::ng-deep .mat-mdc-chip-action-label {
        color: white !important;
    }
}

.cell-container {
    display: flex;
    justify-content: center;
    align-items: center;

    button {
        padding: 0;
        height: auto;
        width: auto;
    }

    .mdc-icon-button {
        font-size: unset;
    }
}