.raw-content-cell {
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
}

// .table-container {
//     height: calc(100vh - 302px) !important;
//     overflow-y: auto !important;
//     overflow-x: auto !important;
//     scrollbar-width: thin;
// }

// .table-container table {
//     width: 100% !important;
// }

// mat-paginator {
//     position: sticky !important;
//     bottom: 0 !important;
//     background: white !important;
//     z-index: 100 !important;
// }

.red-chip {
    background-color: red !important;
    color: white !important;

    ::ng-deep .mat-mdc-chip-action-label {
        color: white !important;
    }
}

.blue-chip {
    background-color: blue !important;
    color: white !important;


    ::ng-deep .mat-mdc-chip-action-label {
        color: white !important;
    }
}